*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

[class*=__container] {
  max-width: 780px;
  margin-inline: auto;
  padding: 0 16px;
}

body {
  background-color: white;
  color: #00245b;
}

.page__container {
  padding: 200px 30px;
  background-color: orange;
}

.custom-select {
  position: relative;
}
.custom-select__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  padding: 24px;
  border-radius: 100px;
  width: 100%;
  border: 0;
  background-color: white;
  cursor: pointer;
}
.custom-select__button > * {
  pointer-events: none;
}
.custom-select__title {
  color: #9b9b9b;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
  letter-spacing: -0.2px;
}
.custom-select__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  width: 32px;
  height: 32px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.open-select .custom-select__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.custom-select__body {
  background-color: white;
  border: 1px solid #00245b;
  border-radius: 40px;
  padding: 24px;
  position: absolute;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  top: 105%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.open-select .custom-select__body {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-select__list {
  display: grid;
  gap: 10px;
}
.custom-select__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: inherit;
  gap: 10px;
  padding: 14px 10px;
  border-radius: 100px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
@media (any-hover: hover) {
  .custom-select__item:hover {
    background-color: #fff6eb;
  }
}
.custom-select__item.active-item {
  background-color: #fff6eb;
  pointer-events: none;
}
.custom-select__item.active-item::before {
  background-color: #00245b;
  -webkit-box-shadow: inset 0 0 0 3px white;
          box-shadow: inset 0 0 0 3px white;
  border: 1px solid #00245b;
}
.custom-select__item::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #9b9b9b;
}